/* Minimalist and responsive container */
#calendar {
  max-width: 350px;      /* litle and controlate */
  margin:  auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  padding: 10px;
  transition: all 0.3s ease;
  position: relative;
  
  margin-right: 5%;
}

#calendar:hover {
  box-shadow: 0 4px 20px rgba(166, 17, 17, 0.12);
}

/* styke clean for cells */
.fc-daygrid-day {
  border: none !important;
  font-size: 0.8rem;
}

/* Days */
.fc-daygrid-day-number {
  font-weight: 500;
  color: #857a7a;
  padding: 4px;
  border-radius: 6px;
  transition: background 0.2s ease;
  cursor: pointer;
}

.fc-daygrid-day-number:hover {
  background: #f0f0f0;
}

/* Events minimalists */
.fc-event {
  background: #007bff;
  border: none;
  font-size: 0.7rem;
  padding: 2px 4px;
  border-radius: 6px;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {
  #calendar {
    max-width: 100%;
    font-size: 0.75rem;
  }
}
